<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.IBoardMapper">
    <!--게시물,공지사항,할일등록-->
    <insert id="write" parameterType="BoardDTO">
        INSERT
        INTO BOARD
        (
            CONTENTS,
            USER_NAME,
            GU_SEQ,
            BREG_DT,
            `LIKE`,
            NOTICE,
            GG_SEQ,
            FIN_DT,
            ST_DT
        )
        VALUES
        (
            #{Contents},
            #{UserName},
            #{GuSeq},
            SYSDATE(),
            '0',
            #{Notice},
            #{GGseq},
            #{FinDt},
            #{StDt}
        )
    </insert>
    <!--게시물,공지사항,할일 가져오기-->
    <select id="getnotice" parameterType="String" resultType="BoardDTO">
        SELECT
            BOARD_SEQ AS BoardSeq,
            CONTENTS AS Contents,
            USER_NAME AS UserName,
            BREG_DT AS RegDate,
            `LIKE` AS `Like`,
            NOTICE AS Notice,
            UP_DT AS `UpDate`,
            UP_ID AS UpId,
            FIN_DT AS FinDt,
            ST_DT AS StDt
            FROM BOARD
            WHERE GG_SEQ = #{seq}
    </select>
    <!--일 삭제-->
    <delete id="delwork" parameterType="BoardDTO">
        DELETE
        FROM BOARD
        WHERE
        BOARD_SEQ = #{BoardSeq}
    </delete>
    <!--한일로 변경-->
    <update id="finwork" parameterType="BoardDTO">
        UPDATE
            BOARD
        SET
            NOTICE = '3',
            FIN_DT = SYSDATE()
        WHERE
        BOARD_SEQ = #{BoardSeq}
    </update>

    <select id="getUnotice" parameterType="GroupDTO" resultType="BoardDTO">
        SELECT
            BOARD_SEQ AS BoardSeq,
            CONTENTS AS Contents,
            USER_NAME AS UserName,
            BREG_DT AS RegDate,
            `LIKE` AS `Like`,
            NOTICE AS Notice,
            UP_DT AS `UpDate`,
            UP_ID AS UpId,
            FIN_DT AS FinDt,
            ST_DT AS StDt
            FROM BOARD
            WHERE GG_SEQ = #{GroupSeq}
            AND USER_NAME = #{userName}
    </select>
    <!--글수정-->
    <update id="MNotice" parameterType="BoardDTO">
        UPDATE
            BOARD
        SET
            CONTENTS = #{Contents},
            UP_DT = SYSDATE(),
            UP_ID = #{UpId}
        WHERE
        BOARD_SEQ = #{BoardSeq}
    </update>
    <!--댓글 등록-->
    <insert id="writerep" parameterType="BoardDTO">
        INSERT
        INTO REPLY
        (
            CONTENTS,
            BOARD_SEQ,
            USER_NAME,
            REG_DT,
            UP_DT,
            UP_ID,
            GG_SEQ
        )
        VALUES
        (
            #{Contents},
            #{BoardSeq},
            #{UserName},
            SYSDATE(),
            SYSDATE(),
            #{UserName},
            #{GGseq}
        )
    </insert>
    <!--댓글 가저오기-->
    <select id="getrep" parameterType="String" resultType="BoardDTO">
        SELECT
            REP_SEQ AS rep,
            BOARD_SEQ AS BoardSeq,
            CONTENTS AS Contents,
            USER_NAME AS UserName,
            REG_DT AS RegDate,
            UP_DT AS `UpDate`,
            UP_ID AS UpId
            FROM REPLY
            WHERE GG_SEQ = #{seq}
    </select>
</mapper>